@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap");

/* Figma: H1 */
.figma-h1 {
  font-family: Inter, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.12;
  letter-spacing: 0;
}

/* Figma: H2 */
.figma-h2 {
  font-family: Inter, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0;
}

/* Figma: Text/Body */
.figma-text-body {
  font-family: Inter, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 1.2;
  letter-spacing: 0;
}

/* Figma: H2.1 */
.figma-h2-1 {
  font-family: Inter, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0;
}

/* Figma: Body.2 */
.figma-body-2 {
  font-family: Inter, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0;
}
